@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94.51%;
    --foreground: 0 0% 18.82%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 18.82%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 18.82%;
    --primary: 245.55 100% 23.33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 18.82%;
    --muted: 0 0% 89.8%;
    --muted-foreground: 0 0% 25.1%;
    --accent: 0 0% 94.51%;
    --accent-foreground: 245.55 100% 23.33%;
    --destructive: 0 100% 31.76%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 0 0% 87.06%;
    --input: 240 5.88% 90%;
    --ring: 0 100% 50%;
    --radius: 0.5;
  }

  .dark {
    --background: 240 10% 3.92%;
    --foreground: 0 0% 98.04%;
    --card: 240 10% 3.92%;
    --card-foreground: 0 0% 98.04%;
    --popover: 240 10% 3.92%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 0 0% 98.04%;
    --primary-foreground: 240 5.88% 10%;
    --secondary: 240 3.7% 15.88%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 240 3.7% 15.88%;
    --muted-foreground: 240 5.03% 64.9%;
    --accent: 240 3.7% 15.88%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 0 62.03% 30.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 3.7% 15.88%;
    --input: 240 3.7% 15.88%;
    --ring: 240 4.88% 83.92%;
    --radius: 0.5;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
